@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;700&display=swap');



body {
  font-family: 'Montserrat', 'Inter', 'Courier New', sans-serif;
  font-weight: bold;
  background-color: #2e3047;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Adjust font and button size for smaller screens */
@media (max-width: 768px) {
  body {
      font-size: 16px;
  }
  .container {
      padding: 10px;
  }
  button {
      padding: 8px 12px;
      font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
      padding: 20px;
  }
  button {
      padding: 10px 16px;
      font-size: 16px;
  }
}

button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}